version: "{build}-{branch}"

branches:
  only:
    - main
    - dev-appveyor

image: Visual Studio 2019

cache:
  - vendor/bundle

environment:
  matrix:
    - RUBY_VERSION: 25
    - RUBY_VERSION: 25-x64
    - RUBY_VERSION: 26
    - RUBY_VERSION: 26-x64
    - RUBY_VERSION: 27
    - RUBY_VERSION: 27-x64

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - gem update --no-document --system 3.1.3
  - gem install bundler --no-document --version="<3.0.0"
  - bundle config --local path vendor/bundle
  - bundle install --without development

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake ci
