# This is the default configuration file. Enabling and disabling is configured
# in separate files. This file adds all other parameters apart from Enabled.

inherit_from:
  - enabled.yml
  - disabled.yml

AllCops:
  SketchUp:
    SourcePath: src
    TargetSketchUpVersion: 2016
    SketchupDeprecations:
      Exclude: []
    SketchupPerformance:
      Exclude: []
    SketchupRequirements:
      Exclude: []
    SketchupSuggestions:
      Exclude: []
